body
{
	margin: 0;
	background-color: #26282E;
	color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
}

a:link    { color: #209781; text-decoration: none; }
a:visited { color: #209781; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }


h1{
	font-size:64px;
	font-weight: 400;
	text-align:center;
	letter-spacing:5px;
	margin-top:20px;
	margin-bottom:0px;
}

p{
	text-align:center;
	margin-top:5px;
	margin-bottom:25px;
	letter-spacing:2px;
	
}

.board{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;	
}

.cardA{
	width:125px;
	height:125px;
	display:inline-block;
	background-image:url("img/karta.png");
	border:2px solid #cc9645;	
	border-radius:4px;
	cursor:default;	
	filter:brightness(100%);
	transition: all 0.35s ease-in-out ;
}



.card{
	width:125px;
	height:125px;
	display:inline-block;
	background-image:url("img/karta.png");
	border:2px solid #51c8b2;	
	border-radius:4px;
	cursor:pointer;	
	filter:brightness(70%);
	transition: all 0.35s ease-in-out ;
}
.card:hover{
	border-color: #cc9645;
	filter:brightness(100%);
}



.score{
	letter-spacing:2px;
}



























